<div class="row">

<div id="todo" class="issueColumn col-sm-3 col-sm-offset-1">
{{#col-dropzone action="issueDropped" dropped="todo"}}
<h1>Todo</h1>
{{#each issue in issuesTodo}}
<div class="row">
	{{#issue-dragable actionSave="save" actionDelete="delete" actionCancel="cancel" content=issue}}
	{{/issue-dragable}}
</div>
<br>
{{/each}}
{{/col-dropzone}}
</div>


<div id="inprogress" class="issueColumn col-sm-3 col-sm-offset-1">
{{#col-dropzone action="issueDropped" dropped="inprogress"}}
<h2>In Progress</h2>
{{#each issue in issuesInprogress}}
<div class="row">
	{{#issue-dragable actionSave="save" actionDelete="delete" actionCancel="cancel" content=issue}}
	{{/issue-dragable}}
</div>
<br>
{{/each}}
{{/col-dropzone}}
</div>


<div id="done" class="issueColumn col-sm-3 col-sm-offset-1">
{{#col-dropzone action="issueDropped" dropped="done"}}
<h1>Done</h1>
{{#each issue in issuesDone}}
<div class="row">
	{{#issue-dragable actionSave="save" actionDelete="delete" actionCancel="cancel" content=issue}}
	{{/issue-dragable}}
</div>
<br>
{{/each}}
{{/col-dropzone}}
</div>

</div>


{{outlet}}